  .App {
    padding-bottom: 100px;
    align-items: center;
    background-color: rgb(224, 226, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }

.table-container {
    padding: 10px;
  }


.table-button-pair {
    align-self: center;
    vertical-align:top;
  }

.button{
    vertical-align: top;
    background-color: #a1b7e0;
}

.user-table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 20px;
    background-color: rgb(197, 243, 243);
    table-layout: auto;
  }


  
  .header-cell {
    background-color: #637caa;
    color: #111111;
    border: 1px solid #0a0a0a;
    font-weight: bold;
    padding: 8px;
    text-align: center;
  }
  
  .data-cell {
    background-color: #fff;
    color: #99a7b5;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }  
  
  
  
  
  
  
  .user-table th,
  .user-table td {
    border: 1px solid #070707;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }



  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }