.App {
  text-align: center;
}

/*Formatere logo*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Får logo til å rotere*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 10s linear;
  }
}

/*Bakgrunn*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

/*Style link*/
.App-link {
  color: #61dafb;
}

/*Gjør og noe med spin, hastighet*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) translateX(500px) translateY(500px);
  }
  to {
    transform: rotate(360deg);
  }
}
